.navbar-nav {
    text-align: end;
}


.footer {
    background-color: white;
}


.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }

  .w-100 {
    width: 100% !important;
    height: 75vh;
  }



