.navbar-nav {
padding-right: 50px;

  
}

.nav-ling {
  color: #14274E;
}

/* .navbar{
  background-color: #F1F6F9;
} */


.footer {
    background-color: white;
}



  .w-100 {
    width: 100% !important;
    height: 75vh;
  }


.logo {
  padding-left: 30px;
  width: 10%;
}


/* testimonial Section */
#testimonials {
  
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimoniial-image {
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
  width: 100%;
  height: auto;
}

.img{
  max-width: 100%;
  height: auto;
}